body
{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 15%;
}

.login-page
{
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
    margin-top: 10%;
}

.form
{
    position: relative;
    z-index: 1;
/*    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
*/    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px; 
    font-color: white;
}

@font-face {
    font-family: sunvalley;
    src: url(SunValley.ttf) format("truetype");
}

.form input
{
    outline: 1;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

    background: linear-gradient(rgba(211,211,211,0.5),rgba(211,211,211,0.5));
    border-radius: 25px;
}


.form button
{
    background-color: green;
    outline: 10;
    /*background: linear-gradient(rgba(0,255,0,0.3),rgba(0,255,0,0.3));*/
    width: 50%;
    border: 10;
    padding: 3px;
    margin-left: 25%;
    color: white;
    font-family: sunvalley;
    font-size: 30px;
    cursor: pointer;
    border-radius: 25px;
    align-content: center;
}

h1
{
    font-family: sunvalley;
    color: white;
    text-align: center;
    font-size: 45px;
}